body{
    background-image: url('image/background_karnival.png');
    background-size: cover;
    font-family: Arial,sans-serif;
    margin:0;
}

.header-container{
    display:flex;
    align-items:center;
    color:rgb(255, 255, 255);
}

.logo{
    width:80px;
    margin-right:20px;
    border-radius:100%;
    object-fit: cover;
}

nav{
    background-color:#003366;
    text-align:center;
    padding:10px;
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration:underline;
    margin:15px;
    font-weight:bold;
}

.banner{
    margin: auto;
    border: 1px solid black;
    object-fit: cover;
    width:70%;
    height: auto;
}

.banner img{
    width:100%;
    height: auto;
}

.content{
    color: #ffffff;
    width:80%;
    margin:20px auto;
    padding:20px;
}

.tableInfo{
    margin: auto;
    color: #ffffff;
    background-color: #003366;
    text-align: left;
    width:70%;
    border-collapse:collapse;
}

.tableInfo,th,td{
    border:1px solid rgb(255, 255, 255);
}

th,td{
    padding:10px;
}

.content{
    text-align:center;
}

.gallery img{
    width:250px;
    height:180px;
    margin:10px;
    border:2px solid #ccc;
}

.tableForm{
    text-align: left;
    border-collapse: collapse;
    width:60%;
    margin: auto;
}
.tableForm,
.tableForm th,
.tableForm td{
    border:none;
}

input[type="text"],
input[type="email"],
input[type="number"],
select{
    width: 300px;
    padding: 10px;
    margin-top: 5px;
}
.radio-item{
    display: block;
    margin: 5px 0;
    text-align: left;
}
.button{
    width:120px;
    height:40px;
    background-color: rgb(167, 155, 214);
    font-size:16px;
    border-radius:6px;;
}
.button:hover{
    background-color: #7c68ba;
}
.footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
}